name: Development
on:
  push:
    branches-ignore:
      - 'master'
      - 'staging'
  pull_request:
    branches-ignore:
      - 'master'
      - 'staging'

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Setup Python 3.8.10
        uses: actions/setup-python@v4
        with:
          python-version: 3.8.10
      - name: Install dependencies
        run: pip install -r requirements.txt
      - name: Collect Static Files
        run: python manage.py collectstatic --no-input
      - name: Run Test
        run: python manage.py test
        env:
          DATABASE_URL: ${{ secrets.TEST_DATABASE_URL }}

  sonarcloud:
    name: SonarCloud
    runs-on: ubuntu-latest
    needs: test
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: SonarCloud Scan
        uses: SonarSource/sonarcloud-github-action@master
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}  # Needed to get PR information, if any
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}